/*table.calendar, th.calendarmonth, td.calendarevent, td.date, td.datedescription, .changemonth {
	border: 1px solid black;
	border-collapse: collapse;
} DELETE THIS AFTER TO REMOVE BORDERS*/

 th.calendarmonth, td.calendarevent {
 	padding: 10px;
 }

 th.calendarmonth {
 	text-align: center;
 }

 table.calendar {
 	width: 70%;
 	margin: auto;
 	margin-bottom: 20px;
 	background-color: #bbb;
 	table-layout: fixed;
 	display: none;
 }

 span.calendarmonth {
 	padding: 1% 20%;
 	background-color: #00c6d4;
 }

p.calendarmonth {
	color: white;
	font-size: 30px;
	text-align: center;
	margin: 1%;
}

td#calendarevent {
	text-align: center;
	width: 33%;
}

 td.datedescription {
	border: 2px solid black;
	border-collapse: collapse;
}

table.calendardates {
	width: 100%;
	margin: auto;
}

td.date, td.datedescription {
	margin: 0px;
}

p.date {
	text-align: center;
	font-size: 20px;
	margin: 10px;
}

p span.date {
	background-color: #002863;
	color: white;
	border-radius: 5px;
	padding: 0px 10px;
}

p.datedescription {
	color: #FFFF;
	text-align: center;
	font-size: 16px;
	margin: 10px;
}

td.changemonth {
	width: 100%;
	margin: auto;
}

.arrowicon {
	width: 30px;
	height: auto;
}

td#rightarrow {
	text-align: right;
}

td#leftarrow {
	text-align: left;
}

.previousmonth {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.nextmonth {
	display: flex;
	margin-right: 10px;
}

tr#test {
	width: 100%;
}

div.container{
	display: inline-block;
	position: relative;
	display: flex;
	align-items: center;
}

div#leftarrow {
	justify-content: flex-start;
}

div#rightarrow {
	justify-content: flex-end;
}
