div.content {
	width: 65%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

div.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-bottom: 10px;
	align-items: flex-start;
}

div.sectiontitle {
	margin: 10px 10px 10px 10px;
	padding-bottom: 10px;
	font-size: 26px;
	color: white;
}

span.sectiontitle {
	background-color: #002863;
	padding: 10px;
	border-radius: 10px;
}

div.text {
	font-size: 21px;
	text-indent: 2em;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
}

p {
	margin-top: 0;
	padding: 0;
}

div.image {
	float: left;
	width: 40%;
	padding: 0px 10px;
}

div.centeritem {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.noindent {
	text-indent: 0;
}

span.question {
	background-color: #00C6D4;
	padding: 10px;
	border-radius: 30px;
}

div.answer {
	text-indent: 0;
	margin-bottom: 30px;
}

li.stack {
	margin-bottom: 10px;
}